@font-face {
    font-family: 'Poppins';
    src: url('/resources/fonts/Poppins-Regular.ttf') format('truetype');
  }

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}



header {
    height: 40px;
    display: flex;
    margin: 50px 100px;
    justify-content: space-between;
}

.logo {
    width: 240px;
    height: 38px;
}

.logo-image {
    width: 100%;
    object-fit: cover;
}

.try {
    color: #FF52C1;
    border: 1px solid #FF52C1;
    border-radius: 20px;
    font-family: 'Open Sans';
    font-weight: 400;
    padding: 10px;
    width: 136px;

}

.try:hover {
    opacity: 0.7;
    cursor: pointer;
}

.hero {
    margin: 150px 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px auto;
}

.hero h1 {
    text-align: center;
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    color: #00252E;
    font-size: 2.5rem;
}

.hero p {
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    margin-bottom: 50px;
    width: 500px;
    color: #00252E;
    font-size: 1.2rem;
}

.get_started {
    background: #FF52C1;
    box-shadow: 0px 6px 13px rgba(0, 37, 46, 0.223053);
    border-radius: 40px;
    border: 1px solid #FF52C1;
    padding: 20px 70px;
    color: #ffffff;
    font-family: 'Open Sans';
    font-weight: 700;
    font-size: 1em;
}

.get_started:hover {
    background-color: #FF8ED6;
    cursor: pointer;
}

.mockups {
    margin-top: 70px;
}

.mockups img{
    object-fit: cover;
    width: 100%;
    max-height: 100%;
}

.figures {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 800px auto;
}

.figures-image {
    width: 2.5rem;
}

.figures-title {
    font-weight: 700;
    font-size: 5rem;
    font-family: 'Open Sans';
    color: #00252E;
}

.figures-text {
    font-family: 'Open Sans';
    font-size: 1.2rem;
    color: #808E9A;
}


.section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 100px;
    
}

.section-text {
font-family: 'Open Sans';
font-size: 1rem;
color: #00252E;
}

.section-title {
    font-family: Poppins, sans-serif;
    font-weight: 700;
    font-size: 2.1rem;
    color: #00252E;
    margin-bottom: 10px;

}

.section img {
object-fit: cover;
width: 100%;
}

.cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 200px;
    
}

.cta h2 {
    font-family: 'Poppins', sans-serif;
    color: #00252E;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 20px;
}


footer {
    display: flex;
    justify-content: space-between;
    background-color: #00252E;
    color: #ffffff;
    margin-top: 0;
    font-family: 'Open Sans';
    padding: 150px;
}

.newsletter{
    margin-left: 50px;
}

.footer-top {
    width: 100%;
    margin-bottom: 0;
    display: block;
}

.lorem {
    padding: 30px 0;
    width: fit-content;
}

.tips {
    padding: 30px 0;
    width: fit-content;
}

.contact-phone {
    margin-bottom: 15px;
}
.contact img {
    display: inline-block;
    padding-right: 10px;
}

.contact p {
    display: inline-block;
    font-family: 'Open Sans';
}


.email-input {
    width: 320px;
    height: 48px;
    border-radius: 6px;
}

.socials {
    margin: 50px 0px;
}


.socials a {
    text-decoration: none;
}
.socials img {
    width:2rem;
    margin-right: 10px;
    filter: invert(99%) sepia(1%) saturate(4%) hue-rotate(4deg) brightness(103%) contrast(103%);
    
}

.socials img:hover {
    filter: invert(68%) sepia(43%) saturate(5266%) hue-rotate(153deg) brightness(108%) contrast(87%);
}

.subscribe_btn {
    background: #FF52C1;
    border-radius: 5px;
    padding: 10px 30px;
    color: #ffffff;
    width: 160px;
    height: 48px;
    border: 0px;
    font-family: 'Open Sans',sans-serif;
    margin-left: 2rem;
    font-weight: 700;
    cursor: pointer;
    
}

.subscribe_btn:hover {
    background-color: #FF8ED6;
}

@media screen and (max-width: 768px)  {
    
    header {
        margin: 20px;
    }

    .logo {
        width: 150px;
        height:20px;
    }

    .try {
        width: 110px;
        font-size: 0.7rem;
        padding: 8px 15px;
    }

    .get_started {
        padding: 10px 30px;
        font-size: 0.9rem;
        width: 250px;
        height: 50px;
    }

    .hero {
        margin: 100px;
    }

    .hero h1 {
        font-size: 2rem;
        width: 100%;
    }

    .hero p {
        font-size: 1.2rem;
        padding: 30px;
    }

    .figures {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        row-gap: 150px;
    }
    
    
    .section {
        display: flex;
        flex-direction: column-reverse;
        row-gap: 50px;
        align-items: center;
        justify-content: center;
        margin: 100px;
        
    }
    
    #flowing-conversations {
        display: flex;
        flex-flow: column;
    }
    .flow-text {
        order: 2;
    }

    .flow-image {
        order: 1;
    }

    .section-text {
        text-align: center;
    }
    
    .section-title {
        text-align: center;
    
    }
    
    .cta {
        margin: 250px 50px;
    }
    
    .cta h2 {
        font-size: 2rem;
        text-align: center;
    }
    
    
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 50px;
    }

    .newsletter {
        display: flex;
        flex-direction: column;
    }
    
    .newsletter h3 {
        font-size: 2rem;
    }
    .lorem {
        padding: 30px 0;
        width: 20rem;
    }
    
    .tips {
        padding: 30px 0;
        width: 23rem;
        font-size: 1.1rem;
    }
    
    
    .email-input {
        width: 100%;
        height: 55px;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 15px;
    }
    
    
    .subscribe_btn {
        font-size: 1.1rem;
        margin: 15px 0 100px 58%;
        
    }
    
}


@media screen and (max-width: 480px)  {
    
    header {
        margin: 20px;
    }

    .logo {
        width: 150px;
        height:20px;
    }

    .try {
        width: 110px;
        font-size: 0.7rem;
        padding: 7px 15px;
    }

    .hero p {
        font-size: .9rem;
        padding: 5px;
        width: fit-content;
    }

    .hero h1 {
        font-size: 1.5rem;
        padding: 5px;
        width: fit-content;

    }

    .section-text {
        font-weight: bold;
    }

    
    footer {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        padding: 50px;
    }

    .footer-top{
        width: 100%;
        margin-bottom: 0;
    }
    .newsletter {
        display: flex;
        flex-direction: column;
    }
    
    .newsletter h3 {
        font-size: 2rem;
    }
    .lorem {
        padding: 30px 0;
        width:fit-content;
        
    }
    
    .tips {
        padding: 30px 0;
        width: fit-content;
        font-size: 1.1rem;
    }
    
    
    .email-input {
        width: 100%;
        height: 55px;
        border-radius: 6px;
        padding: 10px;
        margin-bottom: 15px;
    }
    
    
    .subscribe_btn {
        font-size: 1.1rem;
        margin: 15px 0 100px 28%;
        
    }
    
}


